<%= form_tag '/pirates', :remote => true do %>
	Name: 
<%= text_field_tag 'pirate[name]' %> <br>
	<%= submit_tag 'Create a new pirate!' %>
<% end %>

<div id='pirates'>
<%= render :partial => 'shared/pirate', :collection => @pirates, :as => :p %>
</div>